@import url(https://fonts.googleapis.com/css?family=Cinzel:400,900&amp;

subset=latin-ext);html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  height: 100%;
}

body {
  background-color: #e74c3c;
  width: 100%;
  margin: 0;
  height: 100%;
}

a {
  text-decoration: none;
}

.flex-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.flex-magic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  height: 100%;
}

.container {
  margin: 0;
  width: 100%;
  display: grid;
  grid-template-rows: 10fr 5fr 75fr 10fr;
  grid-template-columns: 1fr;
  height: 100%;
}

.navbar {
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  background-color: #c0392b;
  color: #ecf0f1;
  display: grid;
  grid-template: 1fr / 10fr 80fr 10fr;
}

.navbar .logo {
  margin: 5px;
  height: 100%;
  display: block;
}

.navbar .logo img {
  width: 80%;
  padding: 2px;
  display: inline-block;
}

.navbar h2 {
  font-size: 2em;
  font-weight: bolder;
  text-transform: capitalize;
  font-family: "Cinzel", serif;
  margin: 0px;
}

.navbar li {
  list-style: none;
  color: #ecf0f1;
  font-family: "Cinzel", serif;
}

.sidebar {
  display: grid;
  grid-row: 2 / 3;
  grid-column: 1 / 2;
  background-color: #d62c1a;
  color: #ecf0f1;
}

.sidebar .category {
  display: none;
  padding: 5px;
}

.sidebar .dropdown {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 2px;
}

.content {
  display: grid;
  grid-row: 3 / 4;
  grid-column: 1 / 2;
  background-color: #bdc3c7;
  padding: 10px;
}

.content .roll {
  margin-right: 5px;
  width: 100px;
  height: 100px;
  background-color: #e74c3c;
  border-radius: 10px;
  margin: 10px;
  position: relative;
}

.content .roll img {
  position: absolute;
  width: 96px;
  top: 2px;
  left: 2px;
  border-radius: 10px;
}

.content .roll h4 {
  position: absolute;
  bottom: 0px;
  background-color: #e74c3c;
  color: #ecf0f1;
  text-transform: capitalize;
  font-family: "Cinzel", serif;
  margin: 0;
  width: 100%;
  text-align: center;
  border-radius: 0px 0px 10px 10px;
  padding: 2px 0px;
}

.content .roll .flex-magic {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}

.footer {
  background-color: #c0392b;
  color: #ecf0f1;
  grid-row: 4 / 5;
  grid-column: 1 / 2;
}

.footer .rights {
  text-align: center;
}

.footer .masmagia {
  width: 100%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .social-icon {
  text-align: center;
  color: #ecf0f1;
  border-top: 2px;
  border-color: #1c313e;
  width: 20%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
  text-decoration: none;
}

.google {
  background-color: #f1c40f;
}

.github {
  background-color: #9b59b6;
}

.slack {
  background-color: #2ecc71;
}

.youtube {
  background-color: #e74c3c;
}

.reddit {
  background-color: #2c3e50;
}

.google:hover {
  color: white;
  background-color: #927608;
}

.github:hover {
  color: white;
  background-color: #623475;
}

.slack:hover {
  color: white;
  background-color: #1b7943;
}

.youtube:hover {
  color: white;
  background-color: #a82315;
}

.reddit:hover {
  color: white;
  background-color: #080b0e;
}

/* Tablets */

@media only screen and (min-width: 768px) {
  .logo {
    margin: 8px;
  }

  .logo img {
    padding: 5px;
    max-height: 80px;
  }

  .content {
    padding: 20px;
  }
}

/* Laptops */

@media only screen and (min-width: 992px) {
  .container {
    grid-template-rows: 10fr 5fr 75fr 10fr;
    grid-template-columns: 20fr 80fr;
  }

  .navbar {
    grid-row: 1 / 2;
    grid-column: 1 / 3;
    grid-template: 1fr / 15fr 70fr 15fr;
  }

  .logo img {
    max-height: 100px;
  }

  .nombre {
    text-align: left;
  }

  .dropdown {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin: 2px;
  }

  .category {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }

  .sidebar {
    grid-row: 2 / 4;
    grid-column: 1 / 2;
  }

  .content {
    grid-row: 2/ 5;
    grid-column: 2 / 3;
    overflow-y: scroll;
  }

  .footer {
    grid-row: 4 / 5;
    grid-column: 1 / 2;
  }

  .social-icon {
    border-top: 2px;
    padding: 10px;
  }
}

/* Large Devices, Wide Screens */

@media only screen and (min-width: 1200px) {
  .container {
    grid-template-rows: 10fr 5fr 75fr 10fr;
    grid-template-columns: 10fr 85fr;
  }

  .navbar {
    grid-row: 1 / 2;
    grid-column: 1 / 3;
    grid-template: 1fr / 10fr 80fr 10fr;
  }

  .logo img {
    max-height: 100px;
  }

  .nombre {
    text-align: left;
  }

  .dropdown {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin: 2px;
  }

  .category {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }

  .sidebar {
    grid-row: 2 / 4;
    grid-column: 1 / 2;
  }

  .content {
    grid-row: 2/ 5;
    grid-column: 2 / 3;
    padding: 30px;
  }

  .footer {
    grid-row: 4 / 5;
    grid-column: 1 / 2;
  }
}

