
// Body

//Colors de Marca
$principal: #e74c3c;
$secundario: #c0392b;
$gris: #bdc3c7;
$blanco: #ecf0f1;

// Borders

// Brands

$google: #f1c40f;
$github: #9b59b6;
$slack: #2ecc71;
$youtube: #e74c3c;
$reddit: #2c3e50;
$logo-alpha: lighten($gris, 50%);

$primary: #3097D1;
$info: #8eb4cb;
$success: #2ab27b;
$warning: #cbb956;
$danger: #bf5329;

// Typography

$rolifont: 'Cinzel', serif;
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";

// Navbar

// Buttons

// Inputs

// Panels
